.sign-in {
    margin-top: 72px;
    margin-bottom: 72px;

    &-form {
        margin: 72px auto 0;
        max-width: 624px;
        border: 1px solid #DADADA;
        padding: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        &-description { 
            text-align: center;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            color: #8D8E97;
        }

        &-reset_password{
            margin-top: -20px;
        }

        &-link {
            color: #2231aa;
        }
    }
}