.button{
    border: 1px solid #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 32px;
    border-radius: 2px;
    cursor: pointer;

    &.button--primary{
        color: #fff;
        background-color: #2231aa;

        &.active{
            &:hover{
                opacity: 0.6;
            }
        }
    
        &.disabled{
            background-color: #e8e8e8;
            cursor: not-allowed;
            color: #8d8e97;
        }
    }


    &.button--secondary{
        background-color: #e8e8e8;
        color: black;


        &.active{
            &:hover{
                background: #DADADA;
            }
        }

        &.disabled{
            background-color: #e8e8e8;
            cursor: not-allowed;
            color: #8d8e97;
        }

    }

    &.button--secondary2{
        background: none;
        color: #fd3419;


        &.active{
            &:hover{
               border-color: #DADADA;
            }
        }

        &.disabled{
            background-color: #e8e8e8;
            cursor: not-allowed;
            color: #8d8e97;
        }

    }
}

